.menu > ul {
  display: flex;
  list-style: none;
}

.menu > ul li:has(.submenu) {
  position: relative;
}

.menu > ul li:has(.submenu)::after {
  border-style: solid;
  border-width: 0.18em 0.18em 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  left: 1em;
  position: relative;
  top: 40%;
  vertical-align: top;
  width: 0.45em;
  transform: rotate(135deg);
}

.menu ul.submenu {
      list-style: none;
    border-radius: .5rem;
    background: #fff;
    padding: 1rem;
    position: absolute;
    z-index: 1;
    left: -15px;
    top: 50%;
    transform-origin: top;
    transform: rotateX(-90deg);
    opacity: 0;
    transition: transform 0.25s ease-out, opacity 0.25s ease-out;
    backface-visibility: hidden;
    border: 1px solid #80808021;
}

.menu ul.submenu li:last-child {
  margin-bottom: 0 !important;
}

.menu ul.submenu li:hover {
  background: var(--secondary-color);
  color: var(--primary-color1);
}

/* Show submenu with flip effect */
.menu > ul li:hover > .submenu {
  transform: rotateX(0deg);
  opacity: 1;
}

.menu.header-top-menu {
  display: flex;
  justify-content: end;
}
.menu.header-top-menu > ul {
  background: #eff3f4;
  padding: 0px 10px;
  margin: 0px;
  width: max-content;
  border-bottom-left-radius: 1.2rem;
  li {
    a {
      display: block;
      font-size: 11px;
      font-weight: bold;
      padding: 12px 10px;
      transition: 0.3s;
      &.active {
        color: var(--primary-color) !important;
      }
    }
  }
}

.menu.header-bottom-menu {
  display: flex;
  justify-content: center;
  ul {
    margin: 1rem 0 !important;
    li {
      padding: 0px 15px;
      a {
        font-size: 15px;
        padding: 0px;
        transition: 0.3s;
        &.active, &:hover {
          color: var(--primary-color) !important;
        }
        
      }
    }
  }
}

.menu.header-bottom-menu-right {
    display: flex;
    height: 100%;
    align-items: center;
    a{
    font-weight: 500;
    }
}



.active-link{
  a{
  color: var(--primary-color) !important;
  }
}
.menu-hover{
  color: #000;
  font-weight: 500;;
}
.menu-hover:hover{
  color:var(--primary-color);
}



/* Admin menu */

.admin-sidebar{
  .menu{
    margin-bottom: 1.2rem;
  }
  .menu ul{
    padding:0;
    flex-direction: column;
    row-gap: .5rem;
  }

  .menu:has(.menu-toggle-btn){
    ul{
    display:none;
    }
  }

.menu:has(.menu-toggle-btn.open){
  ul{
    display:flex;
  }
}

p.menu-toggle-btn {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: .3rem;
    &.open{
      svg{
        transform: rotate(0deg) !important;
      }
    }
    svg{
      height: 1rem;
      width: 1rem;
      transform: rotate(-180deg);
      }
    }

  }